.marco-formulario{
    display: flex;
    flex-direction: column;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    margin-top: 20px;
    padding: 8px;
}
input{
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}